<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header id="headbar">
        
</header>
<center><h1>Register Yourself Here<h1></center>

<div>
    <form method="POST" action="/reg">
        <label>Full Name</label><br>
        <input type="text" name="r_name" placeholder="Full Name"><br><br>
        <label>Email</label><br>
        <input type="email" name="r_email" placeholder="Email"><br><br>
        <label>Full Name</label><br>
        <input type="password" name="r_pass" placeholder="Password"><br><br>
        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>